POSTGRES_USER=de_user
POSTGRES_PASSWORD=de_password
POSTGRES_DB=de_roadmap
POSTGRES_PORT=5432

MYSQL_USER=de_user
MYSQL_PASSWORD=de_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=de_roadmap
MYSQL_PORT=3306

JUPYTER_PORT=8888
SPARK_MASTER_WEB_PORT=8080
SPARK_MASTER_PORT=7077
SPARK_WORKER_WEB_PORT=8081
SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=2G

HDFS_NAMENODE_PORT=9870
HDFS_RPC_PORT=9000
KAFKA_PORT=9092

AIRFLOW_PORT=8088
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin
AIRFLOW_SECRET_KEY=de_genesis_local_secret
AIRFLOW_API_USERNAME=admin
AIRFLOW_API_PASSWORD=admin

NIFI_PORT=8443
NIFI_USER=admin
NIFI_PASSWORD=admin_password_123

MOCK_API_PORT=8000
WEEK5_API_PAGE_SIZE=100

PROMETHEUS_PORT=9090
PIPELINE_METRICS_PORT=9108
WEEK6_INVALID_RATE_THRESHOLD=0
GRAFANA_PORT=3000
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
